---
import { getI18n } from '@/i18n';
const { currentLocale } = Astro;
const i18n = getI18n({currentLocale});
---

<section id="about-me" class="flex flex-col gap-[100px] pt-[100px] border-b-[#333333] border-b-[1px] pb-[30px]">
    <section class="flex flex-col gap-[30px]">
        <h2 class="abt-tlt font-semibold text-white uppercase text-[32px] tracking-[-.04em]">{i18n.ABOUT_TITLE}</h2>
        <p class="abt-txt text-white text-[18px] tracking-[-.04em] leading-[1.2em] max-w-[550px]">{i18n.ABOUT_DESC_1} <br> <br> {i18n.ABOUT_DESC_2} </p>
    </section>
    <section class="flex serv-sec">
        <div class="w-[25%]">
            <p class="w-fit uppercase text-[#B3B3B3] text-[16px] tracking-[-.04em] leading-[1.2em] serv-tlt">{i18n.SERVICES_TITLE}</p>
        </div>

        <div class="flex w-full servs-txt">
            <div class="flex flex-col w-[37%] gap-5 txts-svs">
                <p class="w-fit text-white text-[18px] tracking-[-.04em] leading-[1.2em] txt-secs">{i18n.SERVICE_1}</p>
                <p class="w-fit text-white text-[18px] tracking-[-.04em] leading-[1.2em] txt-secs">{i18n.SERVICE_2}</p>
            </div>
            <div class="flex flex-col w-[37%] gap-5 txts-svs">
                <p class="w-fit text-white text-[18px] tracking-[-.04em] leading-[1.2em] txt-secs">{i18n.SERVICE_3}</p>
                <p class="w-fit text-white text-[18px] tracking-[-.04em] leading-[1.2em] txt-secs">{i18n.SERVICE_4}</p>
            </div>
        </div>
    </section>

    <section class="flex exp-mob">
        <div class="w-[25%]">
            <p class="w-fit uppercase text-[#B3B3B3] text-[16px] tracking-[-.04em] leading-[1.2em] exp-sec">{i18n.EXPERIENCE_TITLE}</p>
        </div>
        <div class="w-full flex flex-col gap-5">
            <div class="flex border-b-[#333333] border-b-[1px] pb-5">
                <div class="w-full flex expWor">
                    <div class="w-full">
                        <p class=" w-fit text-white text-[18px] tracking-[-.04em] leading-[1.2em] txt-secs">{i18n.EXPERIENCE_PLACE_1}</p>
                    </div>
                    <div class="w-full">
                        <p class=" w-fit text-[#B3B3B3] text-[18px] tracking-[-.04em] leading-[1.2em] txt-secs">{i18n.EXPERIENCE_ROLE_1}</p>
                    </div>
                </div>
                <div class="w-[33%]">
                    <p class=" w-fit text-[#B3B3B3] text-[18px] tracking-[-.04em] leading-[1.2em] txt-secs">{i18n.EXPERIENCE_DATE_1}</p>
                </div>
            </div>

            <div class="flex border-b-[#333333] border-b-[1px] pb-5">
                <div class="w-full flex expWor">
                    <div class="w-full">
                        <p class=" w-fit text-white text-[18px] tracking-[-.04em] leading-[1.2em] txt-secs">{i18n.EXPERIENCE_PLACE_2}</p>
                    </div>
                    <div class="w-full">
                        <p class=" w-fit text-[#B3B3B3] text-[18px] tracking-[-.04em] leading-[1.2em] txt-secs">{i18n.EXPERIENCE_ROLE_2}</p>
                    </div>
                </div>
                <div class="w-[33%]">
                    <p class=" w-fit text-[#B3B3B3] text-[18px] tracking-[-.04em] leading-[1.2em] txt-secs">{i18n.EXPERIENCE_DATE_2}</p>
                </div>
            </div>

            <div class="flex  pb-5">
                <div class="w-full flex expWor">
                    <div class="w-full">
                        <p class=" w-fit text-white text-[18px] tracking-[-.04em] leading-[1.2em] txt-secs">{i18n.EXPERIENCE_PLACE_3}</p>
                    </div>
                    <div class="w-full">
                        <p class=" w-fit text-[#B3B3B3] text-[18px] tracking-[-.04em] leading-[1.2em] txt-secs">{i18n.EXPERIENCE_ROLE_3}</p>
                    </div>
                </div>
                <div class="w-[33%]">
                    <p class=" w-fit text-[#B3B3B3] text-[18px] tracking-[-.04em] leading-[1.2em] txt-secs">{i18n.EXPERIENCE_DATE_3}</p>
                </div>
            </div>
            
        </div>
    </section>

</section>

<style>
	@media (max-width: 1199px) {
		.work-sec p, h2 {
			font-size: 28px
		}
		.abt-tlt {
			font-size: 28px;
		}
	}

	@media (max-width: 809px) {
		.abt-tlt {
			font-size: 24px;
		}
		.abt-txt, .txt-secs {
			font-size: 16px;
		}
		.serv-tlt, .exp-sec {
			font-size: 14px;
		}
		.work-sec {
			flex-direction: column;
			h2 {
				overflow: hidden;
			}
		}
		.work-sec p, h2 {
			font-size: 24px;
		}
		.work-lay {
			grid-template-columns: repeat(1, minmax(0, 1fr));
		}

		.servs-txt {
			align-items: center;
		}

		.expWor {
			flex-direction: column;
			gap: 10px;
		}
		.exp-mob, .serv-sec {
			flex-direction: column;
			gap: 40px;
		}
	}

	@media (max-width: 328px) {
		.txts-svs {
			gap: 12px;
            width: auto;
		}
		.servs-txt {
			flex-direction: column;
			align-items: start;
			gap: 12px;
		}
	}
</style>